@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'satoshi', sans-serif;
}

body {
  @apply bg-black;

}

.zoomEffect{
  transition: transform 0.3s ease;
}
.zoomEffect:hover{
  transform:scale(1.07);
}

